In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [17]:
len(titles)

234748

In [9]:
cast[['title', 'year']]

                                                     title  year
0                                           Closet Monster  2015
1                                          Suuri illusioni  1985
2                                      Battle of the Sexes  2017
3                                     Secret in Their Eyes  2015
4                                               Steve Jobs  2015
5                                   Straight Outta Compton  2015
6                                   Straight Outta Compton  2015
7                                           For Thy Love 2  2009
8        Lapis, Ballpen at Diploma, a True to Life Journey  2014
9                                             Desire (III)  2014
10                                 When the Man Went South  2014
11                                 Little Angel (Angelita)  2015
12                                              Mixing Nia  1998
13                                        The Replacements  2000
14                                    All Out Dysfunktion!  2016
15                                                    Gook  2017
16                                         My Song for You  2010
17                                         My Song for You  2010
18                                            Hustle Beach  2017
19                                    Mariano Mison... NBI  1997
20                                          Natas es Satan  1977
21                                                  B-Girl  2009
22                                      Battle of the Year  2013
23                                                 Honey 2  2011
24                                    Kickin' It Old Skool  2007
25                                          Step Up All In  2014
26                          The LXD: The Secrets of the Ra  2011
27                                             Todo x Sara  2014
28                                        Barrio Gangsters  2009
29       Cornmeal, Gunpowder, Ham Hocks and Guitar Strings  2015
...                                                    ...   ...
3716639                              Askin kesisme noktasi  1990
3716640                             Dislanmis/Lekeli melek  1993
3716641                                 Bhaag Milkha Bhaag  2013
3716642                              From Sydney with Love  2012
3716643                                             Orange  2010
3716644                                 Sex and the City 2  2010
3716645                                     Singh Is Kinng  2008
3716646                                          Thalaivaa  2013
3716647                                 The Sky Has Fallen  2009
3716648                                              Virsa  2010
3716649                                     Recep Ivedik 4  2014
3716650                                        Gise Memuru  2010
3716651                                         Issiz Adam  2008
3716652                   Niceland (Population. 1.000.002)  2004
3716653                                           Eldfjall  2011
3716654                                          Svanurinn  2017
3716655                                 Nei er ekkert svar  1995
3716656                                              Agnes  1995
3716657                                  Beowulf & Grendel  2005
3716658                                            Dansinn  1998
3716659                                          Foreldrar  2007
3716660                                            Rokland  2011
3716661                                                 XL  2013
3716662                   Niceland (Population. 1.000.002)  2004
3716663                                     Stuttur Frakki  1993
3716664                                            Foxtrot  1988
3716665                   Niceland (Population. 1.000.002)  2004
3716666                                          Skammdegi  1985
3716667                                       U.S.S.S.S...  2003
3716668                                  Bye Bye Blue Bird  1999

[3716669 rows x 2 columns]

### What are the earliest two films listed in the titles dataframe?

In [85]:
s = titles.sort_values('year')
s.head(2)

                     title  year
179662          Miss Jerry  1894
217492  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [27]:
h = titles[titles.title == 'Hamlet']
h

         title  year
6076    Hamlet  1948
45868   Hamlet  1990
49845   Hamlet  2017
53323   Hamlet  1910
75880   Hamlet  2015
93103   Hamlet  1976
95334   Hamlet  1987
95529   Hamlet  2000
99599   Hamlet  1921
104050  Hamlet  2011
124103  Hamlet  1969
129817  Hamlet  1954
168241  Hamlet  1913
178001  Hamlet  2009
181716  Hamlet  2016
184891  Hamlet  1964
203410  Hamlet  1996
212081  Hamlet  1911
223772  Hamlet  1973
225908  Hamlet  2014

### How many movies are titled "North by Northwest"?

In [28]:
north = titles[titles.title == 'North by Northwest']
north

                     title  year
140887  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [31]:
h.sort_values('year')

         title  year
53323   Hamlet  1910
212081  Hamlet  1911
168241  Hamlet  1913
99599   Hamlet  1921
6076    Hamlet  1948
129817  Hamlet  1954
184891  Hamlet  1964
124103  Hamlet  1969
223772  Hamlet  1973
93103   Hamlet  1976
95334   Hamlet  1987
45868   Hamlet  1990
203410  Hamlet  1996
95529   Hamlet  2000
178001  Hamlet  2009
104050  Hamlet  2011
225908  Hamlet  2014
75880   Hamlet  2015
181716  Hamlet  2016
49845   Hamlet  2017

### List all of the "Treasure Island" movies from earliest to most recent.

In [32]:
t = titles[titles.title == 'Treasure Island']
t.sort_values('year')

                  title  year
208189  Treasure Island  1918
51847   Treasure Island  1920
209821  Treasure Island  1934
97921   Treasure Island  1950
78032   Treasure Island  1972
112572  Treasure Island  1973
207553  Treasure Island  1985
181277  Treasure Island  1999

### How many movies were made in the year 1950?

In [39]:
f = titles[titles.year == 1950]
len(f)

                                  title  year
74                     Campo O' Donnell  1950
95                     Botta e risposta  1950
237                              Madari  1950
476          Francesco, giullare di Dio  1950
533                           Surrender  1950
563                 Un certain monsieur  1950
1025                  Vom Teufel gejagt  1950
1136                        The Jackpot  1950
1597                Tanssi yli hautojen  1950
1705              The Elusive Pimpernel  1950
1710               Akatsuki no tsuiseki  1950
1758              Atom Man vs. Superman  1950
1877               The Sun Sets at Dawn  1950
1964                  Paolo e Francesca  1950
2267                 Annie Get Your Gun  1950
2390                        Side Street  1950
2667                   O Pecado de Nina  1950
2887                 Hit Parade of 1951  1950
3253                Belle of Old Mexico  1950
3389                            Senritu  1950
3475                     Garota Mineira  1950
3477                  Nancy Goes to Rio  1950
3517                       Texas Dynamo  1950
3615                          Ogni Baku  1950
3713                   Edong Mapangarap  1950
3781                   La Marie du port  1950
3896                     Lyn-fotografen  1950
4402                 Comanche Territory  1950
4499                 Mujeres en mi vida  1950
4619               Wenn eine Frau liebt  1950
...                                 ...   ...
228030                 Southside 1-1000  1950
228113                       Sasameyuki  1950
228152                         Le furet  1950
228407          Code of the Silver Sage  1950
228488         La danseuse de Marrakech  1950
228966             The Astonished Heart  1950
229527               Shadow of the Past  1950
229540                  The White Tower  1950
229778            Il sentiero dell'odio  1950
229802                  Baikunther Will  1950
229860                     Cage of Gold  1950
229927      The Girl Who Couldn't Quite  1950
230000                   Verlobte Leute  1950
230526            The Invisible Monster  1950
230556           Federal Agent at Large  1950
230698     Mrs. O'Malley and Mr. Malone  1950
230878                      Zhao Yi-Man  1950
230964             Matrimonio y mortaja  1950
231268                       Gadano Bel  1950
232014                  Fake's Progress  1950
232299                          Sangram  1950
232587  Sazae-san: Nodojiman uta-gassen  1950
232774                    Captain China  1950
232839          Il figlio di d'Artagnan  1950
232877                  Key to the City  1950
233025       Na Zha da zhan Hong Hai Er  1950
233671                     Dwie brygady  1950
233761               La negra Angustias  1950
233822                            Jogan  1950
234355                     Rasuna valea  1950

[1110 rows x 2 columns]

### How many movies were made in the year 1960?

In [40]:
s = titles[titles.year == 1960]
len(s)

1525

### How many movies were made from 1950 through 1959?

In [41]:
r = titles[(titles.year >= 1950) & (titles.year <=1959)]
len(r)

12855

### In what years has a movie titled "Batman" been released?

In [82]:
b = titles[titles.title.str.contains('Batman')]
b.sort_values('year')

                                        title  year
75385                                  Batman  1943
121048                       Batman and Robin  1949
201878                         Batman Dracula  1964
59609                   Alyas Batman at Robin  1965
24445                       Batman: The Movie  1966
180626                           James Batman  1966
199660                  Batman Fights Dracula  1967
7469                    Fight! Batman, Fight!  1973
56642                                  Batman  1989
215415                  Alyas Batman en Robin  1991
199730                         Batman Returns  1992
87956            Batman: Mask of the Phantasm  1993
171947                         Batman Forever  1995
112515                         Batman & Robin  1997
31695                           Batman Begins  2005
27425                           Batman Untold  2010
164178              Batman: The Final Victory  2010
34219                          Batman Reboots  2010
105340                        Batman Revealed  2012
149505           Batman Beyond: Rising Knight  2014
116035                       Batman: Crusader  2014
167325                        Batman: Anarchy  2016
171100                B@ (Batman Parody Film)  2016
34020      Batman v Superman: Dawn of Justice  2016
88027   Batman: Return of the Caped Crusaders  2016
204812               Batman: The Killing Joke  2016
126195     B@: It's a Wonderful Life, Batman!  2016
141888                        Batman Unveiled  2017
68251                   The LEGO Batman Movie  2017
209954                 Batman: Master of Fear  2017

### How many roles were there in the movie "Inception"?

In [49]:
i = cast[cast.title == 'Inception']
len(i)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [56]:
i = cast[cast.title == 'Inception']
i = i[i.n.isnull()]
len(i)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [57]:
i = cast[cast.title == 'Inception']
i = i[i.n.notnull()]
len(i)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [58]:
nbnw = cast[cast.title == 'North by Northwest']
nbnw = nbnw[nbnw.n.notnull()]
nbnw.sort_values('n')

,title,year,name,type,character,n
863675,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3458746,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1443822,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3111011,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
353581,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3006601,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1679811,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1263414,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2424683,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1794803,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
659892,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2274639,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
460669,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1494648,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
204521,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1371933,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [61]:
nbnw = cast[cast.title == 'Sleuth']
nbnw = nbnw[nbnw.year == 1972]
nbnw.sort_values('n')

,title,year,name,type,character,n
1689838,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
323821,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
370656,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1452022,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2694139,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1435410,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [62]:
nbnw = cast[cast.title == 'Sleuth']
nbnw = nbnw[nbnw.year == 2007]
nbnw.sort_values('n')

          title  year                 name     type          character    n
323822   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1281563  Sleuth  2007             Jude Law    actor               Milo  2.0
1789387  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
257770   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
370657   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2694138  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3316309  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [64]:
h = cast[cast.title == 'Hamlet']
h = h[h.year == 1921]
len(h)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [65]:
h = cast[cast.title == 'Hamlet']
h = h[h.year == 1996]
len(h)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [66]:
h = cast[cast.title == 'Hamlet']

len(h)

342

### How many people have played an "Ophelia"?

In [70]:
h = cast[cast.title == 'Hamlet']
h = h[h.character == 'Ophelia']
len(h)

17

### How many people have played a role called "The Dude"?

In [74]:
l = cast[cast.character == 'The Dude']
l

,title,year,name,type,character,n
269595,The Big Lebowski,1998,Jeff Bridges,actor,The Dude,1.0
336377,Terms & Conditions,2015,Jordan Cann,actor,The Dude,9.0
494343,Stranger,2000,Scott Crowell,actor,The Dude,NaN
565187,Pizza Man vs. the Dude,2004,Chris DeMarcus,actor,The Dude,NaN
605401,Sweepstakes,1931,Mike Donlin,actor,The Dude,12.0
623922,Self Helpless,2010,Devin The Dude,actor,The Dude,NaN
1079917,Jay and Silent Bob Strike Back,2001,Matthew (XIX) James,actor,The Dude,37.0
1128891,Explicit Ills,2008,Christopher Kadish,actor,The Dude,27.0
1354510,American Idiots,2013,Jason Loughridge,actor,The Dude,10.0
1373709,The Winds of Autumn,1976,Steve Lyons,actor,The Dude,30.0
1498855,The Liq,2016,Mark Alan Meek,actor,The Dude,NaN
1526930,Wild Oats Lane,1926,Jerry Miley,actor,The Dude,6.0
1768209,Oklahoma Badlands,1948,House Peters Jr.,actor,The Dude,13.0
1808061,Cloud Air: The Movie,2013,Thomas (VIII) Porter,actor,The Dude,8.0
1822127,Hacks,1997,Jason Priestley,actor,The Dude,11.0
2181985,Carlos Spills the Beans,2013,Bobby Styles,actor,The Dude,NaN
2314755,Zachariah,1971,Dick Van Patten,actor,The Dude,9.0
2397046,It Can Be Arranged,2010,Joel Weiss,actor,The Dude,NaN

### How many people have played a role called "The Stranger"?

In [73]:
l = cast[cast.character == 'The Stranger']
len(l)

213

### How many roles has Sidney Poitier played throughout his career?

In [77]:
p = cast[cast.name == 'Sidney Poitier']
len(p)

43

### How many roles has Judi Dench played?

In [78]:
p = cast[cast.name == 'Judi Dench']
len(p)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [16]:
h = cast.head()
h[h.n.notnull()]

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4  31.0
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0